/* gallery.html*/

html{
    font-family: Helvetica;
    width: auto;
}

* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header{
    width: 100%;
    min-height: 100vh;
  }
  
nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.spacer{
    cursor: pointer;
}

.logo{
    position: absolute;
    left: 5%;
    top: 0;
    height: auto;
    width: 250px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    width: 100%;
    text-align: center;
    padding-right: 60px;
}

nav ul li{
    font-size: larger;
    display: inline-block;
    margin: 10px 50px;
}

nav ul li a{
    font-size: 15px;
    color: #000001;
    text-decoration: none;
    border-radius: 5px;
}

  body {
    letter-spacing: 0.1em;
    line-height: 1.7em;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#ffffff,#6b6b6b, #ffffff);
  }
  
  .container {
    margin-top: 50px;
    padding-left: 50px;
    min-height: 100vh;
    top: 1%;
    max-width: auto;
    width: 95%;
    flex: 1;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #dbdbdb;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .image-list .image-item{
    border: 1px solid black;
  }
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 22px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    flex: 0 0 auto;
    width: 330px;
    height: 400px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ffffff;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000001;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  .footer {
    flex-shrink: 0;
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

.socialmedia, .contact-info {
    display: flex;
    align-items: center; /* Vertically center the icons */
}

.socialmedia a{
    margin-right: 50px;
}
.contact-info p {
    margin-right: 50px;
}

/* Adjust the size of the ion-icon */
ion-icon {
  font-size: 10px; /* Adjust the size as needed */
  color: black;
}

.copyright{
  font-size: 10px;
  text-align: center;
}

  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }