html{
    font-family: Helvetica;
    width: auto;
}

.container{
    width: 100%;
    min-height: 100vh;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.spacer{
    cursor: pointer;
}

.logo{
    position: absolute;
    left: 5%;
    top: 0;
    height: auto;
    width: 250px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    width: 100%;
    text-align: center;
    padding-right: 60px;
}

nav ul li{
    font-size: larger;
    display: inline-block;
    margin: 10px 50px;
}

nav ul li a{
    font-size: 15px;
    color: #000001;
    text-decoration: none;
    border-radius: 5px;
}

.content{
    padding-left: 50px;
    padding-top: 1px;
    margin-top: 1%;
    background: url(/LTSI/ltsibanner.svg) no-repeat center center;
    background-size: cover;
    color: #000001;
    height: 40vh;
    display: flex;
    align-items: center;
}

.inside-content{
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #000001;
}

.inside-content h1{
    font-size: 55px;
    padding-top: 5px;
}

.after-content{
    padding-left: 50px;
    margin-top: 1%;
    color: #000001;
    line-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.after-content ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 1350px;
    justify-content: center;
    align-items: center;
}

.Fleet li{
    width: 300px;
}
    
.Fleet li img{
    width: 350px;
}
.after-content ul li{
    
    padding-left: 15px;
    margin: 10px;
    font-size: 14px;
}

.contact h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact button{
    justify-content: center;
    text-align: center;
}
body{
    letter-spacing: 0.1em;
    line-height: 1.7em;
    text-transform: none;
    background-image: linear-gradient(#ffffff,#6b6b6b, #ffffff);
}

.footer {
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

.socialmedia, .contact-info {
    display: flex;
    align-items: center; /* Vertically center the icons */
}

.socialmedia a{
    margin-right: 50px;
}
.contact-info p {
    margin-right: 50px;
}

/* Adjust the size of the ion-icon */
ion-icon {
    font-size: 10px; /* Adjust the size as needed */
    color: black;
}

.copyright{
    font-size: 10px;
    text-align: center;
}

/*about.html css */

.about{
    padding-top: 50px;
    margin-top: 1%;
    
}
.about .about-header{
    color: #dbdbdb;
    display: inline-block;
    text-align: center;
    height: 80px;
    width: 25%;
    
}
.about .about-header h1{
    line-height: 80px;
    height: 100%;
    background: linear-gradient(150deg, #19A544,#60BA46);
    width: 100%;
    border: 1px solid black;
}

.about .about-content p{
    padding-left: 175px;
    width: 70%;
    justify-content: center;
}

.about-wrap .mission-vision-content{
    display:flex;
    justify-content: center;
    align-items: stretch;
}
.about-wrap .mission-vision .mission-vision-content h1{
    flex:0 0 auto;
    color: #dbdbdb;
    text-align: center;
    line-height: 250px;
    background: linear-gradient(150deg, #19A544,#60BA46);
    width: 250px;
    border: 1px solid #19A544;
}

.about-wrap .mission-vision .mission-vision-content  p{
    padding-left: 50px;
    flex: 0 0 auto;
    align-content: center;
    justify-content: center;
    width: 70%;
}

hr {
    border: 0.5px solid #6b6b6b; /* Set border color */
}

/* Styles for screens smaller than 768px (e.g. tablets in portrait orientation) */
@media screen and (max-width: 768px) 
    {
        .footer {
            flex-direction: column; /* Stack elements vertically on smaller screens */
        }
        .socialmedia {
            margin-bottom: 20px; /* Add space between social media icons and contact information on smaller screens */
        }
    body {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        padding: 0.5rem;
    }
}

/* Styles for screens smaller than 480px (e.g. mobile phones) */
@media screen and (max-width: 479px) {
    body {
        font-size: 14px;
    }

    .logo{
        padding-left: 10px;
    }
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 0.1rem;
    }

    h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }
}